USE [master]
GO
/****** Object:  Database [db_restaurants]    Script Date: 27.12.2021 16:42:56 ******/
CREATE DATABASE [db_restaurants]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_restaurants', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\db_restaurants.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db_restaurants_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\db_restaurants_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_restaurants].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_restaurants]
GO
/****** Object:  Table [dbo].[allergens]    Script Date: 27.12.2021 16:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[allergens](
	[id] [int] NOT NULL,
	[name] [varchar](60) NOT NULL,
	[description] [varchar](255) NULL,
 CONSTRAINT [PK_allergens] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dish_has_allergen]    Script Date: 27.12.2021 16:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dish_has_allergen](
	[id] [int] NOT NULL,
	[dish_id] [int] NULL,
	[allergen_id] [int] NULL,
 CONSTRAINT [PK_dish_has_allergen] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dish_has_ingredient]    Script Date: 27.12.2021 16:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dish_has_ingredient](
	[id] [int] NOT NULL,
	[dish_id] [int] NULL,
	[ingredient_id] [int] NULL,
 CONSTRAINT [PK_dish_has_ingredient] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dishes]    Script Date: 27.12.2021 16:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dishes](
	[id] [int] NOT NULL,
	[name] [varchar](80) NOT NULL,
	[description] [varchar](255) NULL,
	[base_price] [decimal](6, 2) NULL,
	[sale_price] [decimal](6, 2) NULL,
	[dish_type_id] [int] NOT NULL,
 CONSTRAINT [PK_dishes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dishes_types]    Script Date: 27.12.2021 16:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dishes_types](
	[id] [int] NOT NULL,
	[name] [varchar](40) NOT NULL,
 CONSTRAINT [PK_dishes_types] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ingredients]    Script Date: 27.12.2021 16:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ingredients](
	[id] [int] NOT NULL,
	[name] [varchar](60) NOT NULL,
	[quantity] [int] NULL,
	[price] [decimal](6, 2) NOT NULL,
	[measurement_unit_id] [int] NULL,
 CONSTRAINT [PK_ingredients] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[locations]    Script Date: 27.12.2021 16:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[locations](
	[id] [int] NOT NULL,
	[city] [varchar](60) NOT NULL,
	[ZIP] [int] NOT NULL,
 CONSTRAINT [PK_locations] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[measurement_units]    Script Date: 27.12.2021 16:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[measurement_units](
	[id] [int] NOT NULL,
	[name] [varchar](45) NOT NULL,
 CONSTRAINT [PK_measurement_units] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_detail_has_ingredient]    Script Date: 27.12.2021 16:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_detail_has_ingredient](
	[id] [int] NOT NULL,
	[order_detail_id] [int] NULL,
	[ingredient_id] [int] NULL,
 CONSTRAINT [PK_order_detail_has_ingredient] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_details]    Script Date: 27.12.2021 16:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_details](
	[id] [int] NOT NULL,
	[reference] [varchar](60) NOT NULL,
	[dish_id] [int] NULL,
	[order_id] [int] NULL,
 CONSTRAINT [PK_order_details] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_has_order_detail]    Script Date: 27.12.2021 16:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_has_order_detail](
	[id] [int] NOT NULL,
	[order_id] [int] NULL,
	[oder_detail_id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 27.12.2021 16:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id] [int] NOT NULL,
	[order_number] [int] NOT NULL,
	[date] [datetime] NULL,
	[user_id] [int] NULL,
 CONSTRAINT [PK_orders] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[restaurant_has_dish]    Script Date: 27.12.2021 16:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[restaurant_has_dish](
	[id] [int] NOT NULL,
	[restaurant_id] [int] NULL,
	[dish_id] [int] NULL,
 CONSTRAINT [PK_restaurant_has_dish] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[restaurant_has_sale]    Script Date: 27.12.2021 16:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[restaurant_has_sale](
	[id] [int] NOT NULL,
	[restaurant_id] [int] NULL,
	[sale_id] [int] NULL,
	[percentage] [int] NULL,
	[start] [datetime] NULL,
	[end] [datetime] NULL,
 CONSTRAINT [PK_restaurant_has_sale] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[restaurant_has_user]    Script Date: 27.12.2021 16:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[restaurant_has_user](
	[id] [int] NOT NULL,
	[user_id] [int] NULL,
	[restaurant_id] [int] NULL,
 CONSTRAINT [PK_restaurant_has_user] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[restaurant_hast_type_of_restaurant]    Script Date: 27.12.2021 16:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[restaurant_hast_type_of_restaurant](
	[id] [int] NOT NULL,
	[restaurant_id] [int] NOT NULL,
	[restaurant_type_id] [int] NOT NULL,
 CONSTRAINT [PK_restaurant_hast_type_of_restaurant] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[restaurant_types]    Script Date: 27.12.2021 16:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[restaurant_types](
	[id] [int] NOT NULL,
	[name] [varchar](60) NOT NULL,
	[description] [varchar](255) NOT NULL,
 CONSTRAINT [PK_restaurant_types] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[restaurants]    Script Date: 27.12.2021 16:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[restaurants](
	[id] [int] NOT NULL,
	[name] [varchar](45) NOT NULL,
	[road] [varchar](45) NOT NULL,
	[regular_schedule] [text] NULL,
	[location_id] [int] NOT NULL,
 CONSTRAINT [PK_restaurants] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reviews]    Script Date: 27.12.2021 16:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reviews](
	[id] [int] NOT NULL,
	[title] [varchar](60) NOT NULL,
	[publication_date] [datetime] NOT NULL,
	[description] [text] NULL,
	[rating] [int] NOT NULL,
	[restaurant_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
 CONSTRAINT [PK_reviews] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sales]    Script Date: 27.12.2021 16:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sales](
	[id] [int] NOT NULL,
	[name] [varchar](60) NOT NULL,
 CONSTRAINT [PK_sales] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 27.12.2021 16:42:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] NOT NULL,
	[email] [varchar](254) NOT NULL,
	[firstname] [varchar](60) NULL,
	[lastname] [varchar](60) NULL,
	[password] [varchar](100) NULL,
	[birthdate] [date] NULL,
	[road] [varchar](45) NULL,
	[location_id] [int] NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[dish_has_allergen]  WITH CHECK ADD  CONSTRAINT [FK_dish_has_allergen_allergens] FOREIGN KEY([allergen_id])
REFERENCES [dbo].[allergens] ([id])
GO
ALTER TABLE [dbo].[dish_has_allergen] CHECK CONSTRAINT [FK_dish_has_allergen_allergens]
GO
ALTER TABLE [dbo].[dish_has_allergen]  WITH CHECK ADD  CONSTRAINT [FK_dish_has_allergen_dishes] FOREIGN KEY([dish_id])
REFERENCES [dbo].[dishes] ([id])
GO
ALTER TABLE [dbo].[dish_has_allergen] CHECK CONSTRAINT [FK_dish_has_allergen_dishes]
GO
ALTER TABLE [dbo].[dish_has_ingredient]  WITH CHECK ADD  CONSTRAINT [FK_dish_has_ingredient_dishes] FOREIGN KEY([dish_id])
REFERENCES [dbo].[dishes] ([id])
GO
ALTER TABLE [dbo].[dish_has_ingredient] CHECK CONSTRAINT [FK_dish_has_ingredient_dishes]
GO
ALTER TABLE [dbo].[dish_has_ingredient]  WITH CHECK ADD  CONSTRAINT [FK_dish_has_ingredient_ingredients] FOREIGN KEY([ingredient_id])
REFERENCES [dbo].[ingredients] ([id])
GO
ALTER TABLE [dbo].[dish_has_ingredient] CHECK CONSTRAINT [FK_dish_has_ingredient_ingredients]
GO
ALTER TABLE [dbo].[dishes]  WITH CHECK ADD  CONSTRAINT [FK_dishes_dishes_types] FOREIGN KEY([dish_type_id])
REFERENCES [dbo].[dishes_types] ([id])
GO
ALTER TABLE [dbo].[dishes] CHECK CONSTRAINT [FK_dishes_dishes_types]
GO
ALTER TABLE [dbo].[ingredients]  WITH CHECK ADD  CONSTRAINT [FK_ingredients_measurement_units] FOREIGN KEY([measurement_unit_id])
REFERENCES [dbo].[measurement_units] ([id])
GO
ALTER TABLE [dbo].[ingredients] CHECK CONSTRAINT [FK_ingredients_measurement_units]
GO
ALTER TABLE [dbo].[order_detail_has_ingredient]  WITH CHECK ADD  CONSTRAINT [FK_order_detail_has_ingredient_ingredients] FOREIGN KEY([ingredient_id])
REFERENCES [dbo].[ingredients] ([id])
GO
ALTER TABLE [dbo].[order_detail_has_ingredient] CHECK CONSTRAINT [FK_order_detail_has_ingredient_ingredients]
GO
ALTER TABLE [dbo].[order_detail_has_ingredient]  WITH CHECK ADD  CONSTRAINT [FK_order_detail_has_ingredient_order_details] FOREIGN KEY([order_detail_id])
REFERENCES [dbo].[order_details] ([id])
GO
ALTER TABLE [dbo].[order_detail_has_ingredient] CHECK CONSTRAINT [FK_order_detail_has_ingredient_order_details]
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD  CONSTRAINT [FK_order_details_dishes] FOREIGN KEY([dish_id])
REFERENCES [dbo].[dishes] ([id])
GO
ALTER TABLE [dbo].[order_details] CHECK CONSTRAINT [FK_order_details_dishes]
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD  CONSTRAINT [FK_order_details_orders] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[order_details] CHECK CONSTRAINT [FK_order_details_orders]
GO
ALTER TABLE [dbo].[order_has_order_detail]  WITH CHECK ADD  CONSTRAINT [FK_order_has_order_detail_order_details] FOREIGN KEY([oder_detail_id])
REFERENCES [dbo].[order_details] ([id])
GO
ALTER TABLE [dbo].[order_has_order_detail] CHECK CONSTRAINT [FK_order_has_order_detail_order_details]
GO
ALTER TABLE [dbo].[order_has_order_detail]  WITH CHECK ADD  CONSTRAINT [FK_order_has_order_detail_orders] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[order_has_order_detail] CHECK CONSTRAINT [FK_order_has_order_detail_orders]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK_orders_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK_orders_users]
GO
ALTER TABLE [dbo].[restaurant_has_dish]  WITH CHECK ADD  CONSTRAINT [FK_restaurant_has_dish_dishes] FOREIGN KEY([dish_id])
REFERENCES [dbo].[dishes] ([id])
GO
ALTER TABLE [dbo].[restaurant_has_dish] CHECK CONSTRAINT [FK_restaurant_has_dish_dishes]
GO
ALTER TABLE [dbo].[restaurant_has_dish]  WITH CHECK ADD  CONSTRAINT [FK_restaurant_has_dish_restaurants] FOREIGN KEY([restaurant_id])
REFERENCES [dbo].[restaurants] ([id])
GO
ALTER TABLE [dbo].[restaurant_has_dish] CHECK CONSTRAINT [FK_restaurant_has_dish_restaurants]
GO
ALTER TABLE [dbo].[restaurant_has_sale]  WITH CHECK ADD  CONSTRAINT [FK_restaurant_has_sale_restaurants] FOREIGN KEY([restaurant_id])
REFERENCES [dbo].[restaurants] ([id])
GO
ALTER TABLE [dbo].[restaurant_has_sale] CHECK CONSTRAINT [FK_restaurant_has_sale_restaurants]
GO
ALTER TABLE [dbo].[restaurant_has_sale]  WITH CHECK ADD  CONSTRAINT [FK_restaurant_has_sale_sales] FOREIGN KEY([sale_id])
REFERENCES [dbo].[sales] ([id])
GO
ALTER TABLE [dbo].[restaurant_has_sale] CHECK CONSTRAINT [FK_restaurant_has_sale_sales]
GO
ALTER TABLE [dbo].[restaurant_has_user]  WITH CHECK ADD  CONSTRAINT [FK_restaurant_has_user_restaurants] FOREIGN KEY([restaurant_id])
REFERENCES [dbo].[restaurants] ([id])
GO
ALTER TABLE [dbo].[restaurant_has_user] CHECK CONSTRAINT [FK_restaurant_has_user_restaurants]
GO
ALTER TABLE [dbo].[restaurant_has_user]  WITH CHECK ADD  CONSTRAINT [FK_restaurant_has_user_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[restaurant_has_user] CHECK CONSTRAINT [FK_restaurant_has_user_users]
GO
ALTER TABLE [dbo].[restaurant_hast_type_of_restaurant]  WITH CHECK ADD  CONSTRAINT [FK_restaurant_hast_type_of_restaurant_restaurant_types] FOREIGN KEY([restaurant_type_id])
REFERENCES [dbo].[restaurant_types] ([id])
GO
ALTER TABLE [dbo].[restaurant_hast_type_of_restaurant] CHECK CONSTRAINT [FK_restaurant_hast_type_of_restaurant_restaurant_types]
GO
ALTER TABLE [dbo].[restaurant_hast_type_of_restaurant]  WITH CHECK ADD  CONSTRAINT [FK_restaurant_hast_type_of_restaurant_restaurants] FOREIGN KEY([restaurant_id])
REFERENCES [dbo].[restaurants] ([id])
GO
ALTER TABLE [dbo].[restaurant_hast_type_of_restaurant] CHECK CONSTRAINT [FK_restaurant_hast_type_of_restaurant_restaurants]
GO
ALTER TABLE [dbo].[restaurants]  WITH CHECK ADD  CONSTRAINT [FK_restaurants_locations] FOREIGN KEY([location_id])
REFERENCES [dbo].[locations] ([id])
GO
ALTER TABLE [dbo].[restaurants] CHECK CONSTRAINT [FK_restaurants_locations]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD  CONSTRAINT [FK_reviews_restaurants] FOREIGN KEY([restaurant_id])
REFERENCES [dbo].[restaurants] ([id])
GO
ALTER TABLE [dbo].[reviews] CHECK CONSTRAINT [FK_reviews_restaurants]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD  CONSTRAINT [FK_reviews_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[reviews] CHECK CONSTRAINT [FK_reviews_users]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FK_users_locations] FOREIGN KEY([location_id])
REFERENCES [dbo].[locations] ([id])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FK_users_locations]
GO
USE [master]
GO
