USE [db_restaurants]
GO
ALTER TABLE [dbo].[restaurant_has_user] DROP CONSTRAINT [FK_restaurant_has_user_users]
GO
ALTER TABLE [dbo].[restaurant_has_user] DROP CONSTRAINT [FK_restaurant_has_user_restaurants]
GO
/****** Object:  Table [dbo].[restaurant_has_user]    Script Date: 19.01.2022 16:55:06 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[restaurant_has_user]') AND type in (N'U'))
DROP TABLE [dbo].[restaurant_has_user]
GO
/****** Object:  Table [dbo].[restaurant_has_user]    Script Date: 19.01.2022 16:55:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[restaurant_has_user](
	[id] [int] NOT NULL,
	[user_id] [int] NULL,
	[restaurant_id] [int] NULL,
 CONSTRAINT [PK_restaurant_has_user] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[restaurant_has_user] ([id], [user_id], [restaurant_id]) VALUES (1, 818, 818)
INSERT [dbo].[restaurant_has_user] ([id], [user_id], [restaurant_id]) VALUES (2, 559, 559)
INSERT [dbo].[restaurant_has_user] ([id], [user_id], [restaurant_id]) VALUES (3, 2, 2)
GO
ALTER TABLE [dbo].[restaurant_has_user]  WITH CHECK ADD  CONSTRAINT [FK_restaurant_has_user_restaurants] FOREIGN KEY([restaurant_id])
REFERENCES [dbo].[restaurants] ([id])
GO
ALTER TABLE [dbo].[restaurant_has_user] CHECK CONSTRAINT [FK_restaurant_has_user_restaurants]
GO
ALTER TABLE [dbo].[restaurant_has_user]  WITH CHECK ADD  CONSTRAINT [FK_restaurant_has_user_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[restaurant_has_user] CHECK CONSTRAINT [FK_restaurant_has_user_users]
GO
