USE [db_restaurants]
GO
ALTER TABLE [dbo].[reviews] DROP CONSTRAINT [FK_reviews_users]
GO
ALTER TABLE [dbo].[reviews] DROP CONSTRAINT [FK_reviews_restaurants]
GO
/****** Object:  Table [dbo].[reviews]    Script Date: 19.01.2022 16:55:06 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[reviews]') AND type in (N'U'))
DROP TABLE [dbo].[reviews]
GO
/****** Object:  Table [dbo].[reviews]    Script Date: 19.01.2022 16:55:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reviews](
	[id] [int] NOT NULL,
	[title] [varchar](60) NOT NULL,
	[publication_date] [datetime] NOT NULL,
	[description] [text] NULL,
	[rating] [int] NOT NULL,
	[restaurant_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
 CONSTRAINT [PK_reviews] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[reviews] ([id], [title], [publication_date], [description], [rating], [restaurant_id], [user_id]) VALUES (1, N'Dr.', CAST(N'1963-04-08T07:47:24.370' AS DateTime), N'dolorum rarendum', 1, 727, 727)
INSERT [dbo].[reviews] ([id], [title], [publication_date], [description], [rating], [restaurant_id], [user_id]) VALUES (2, N'Mr', CAST(N'1969-01-04T19:48:01.420' AS DateTime), N'quo transit.', 4, 818, 818)
INSERT [dbo].[reviews] ([id], [title], [publication_date], [description], [rating], [restaurant_id], [user_id]) VALUES (3, N'Mr', CAST(N'1963-02-16T23:55:36.510' AS DateTime), N'vobis Id quis', 3, 769, 769)
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD  CONSTRAINT [FK_reviews_restaurants] FOREIGN KEY([restaurant_id])
REFERENCES [dbo].[restaurants] ([id])
GO
ALTER TABLE [dbo].[reviews] CHECK CONSTRAINT [FK_reviews_restaurants]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD  CONSTRAINT [FK_reviews_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[reviews] CHECK CONSTRAINT [FK_reviews_users]
GO
