USE [db_restaurants]
GO
ALTER TABLE [dbo].[dishes] DROP CONSTRAINT [FK_dishes_dishes_types]
GO
/****** Object:  Table [dbo].[dishes]    Script Date: 19.01.2022 16:55:06 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[dishes]') AND type in (N'U'))
DROP TABLE [dbo].[dishes]
GO
/****** Object:  Table [dbo].[dishes]    Script Date: 19.01.2022 16:55:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dishes](
	[id] [int] NOT NULL,
	[name] [varchar](80) NOT NULL,
	[description] [varchar](255) NULL,
	[base_price] [decimal](6, 2) NULL,
	[sale_price] [decimal](6, 2) NULL,
	[dish_type_id] [int] NOT NULL,
 CONSTRAINT [PK_dishes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[dishes] ([id], [name], [description], [base_price], [sale_price], [dish_type_id]) VALUES (1, N'Beverages', N'in gravum bono cognitio, fecit. Pro quad delerium. regit, plurissimum Id et quo quartu travissimantor linguens in novum', CAST(1840.84 AS Decimal(6, 2)), CAST(7065.09 AS Decimal(6, 2)), 727)
INSERT [dbo].[dishes] ([id], [name], [description], [base_price], [sale_price], [dish_type_id]) VALUES (2, N'Poultry', N'Quad Pro si dolorum non gravis delerium. egreddior linguens quad quo, imaginator eudis nomen et nomen et', CAST(795.74 AS Decimal(6, 2)), CAST(3729.93 AS Decimal(6, 2)), 818)
INSERT [dbo].[dishes] ([id], [name], [description], [base_price], [sale_price], [dish_type_id]) VALUES (3, N'Produce', N'manifestum volcans homo, Versus in fecit, gravis bono Quad quoque fecit, dolorum manifestum quantare vobis sed', CAST(1560.93 AS Decimal(6, 2)), CAST(8550.81 AS Decimal(6, 2)), 769)
GO
ALTER TABLE [dbo].[dishes]  WITH CHECK ADD  CONSTRAINT [FK_dishes_dishes_types] FOREIGN KEY([dish_type_id])
REFERENCES [dbo].[dishes_types] ([id])
GO
ALTER TABLE [dbo].[dishes] CHECK CONSTRAINT [FK_dishes_dishes_types]
GO
