USE [db_restaurants]
GO
ALTER TABLE [dbo].[restaurant_has_sale] DROP CONSTRAINT [FK_restaurant_has_sale_sales]
GO
ALTER TABLE [dbo].[restaurant_has_sale] DROP CONSTRAINT [FK_restaurant_has_sale_restaurants]
GO
/****** Object:  Table [dbo].[restaurant_has_sale]    Script Date: 19.01.2022 16:55:06 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[restaurant_has_sale]') AND type in (N'U'))
DROP TABLE [dbo].[restaurant_has_sale]
GO
/****** Object:  Table [dbo].[restaurant_has_sale]    Script Date: 19.01.2022 16:55:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[restaurant_has_sale](
	[id] [int] NOT NULL,
	[restaurant_id] [int] NULL,
	[sale_id] [int] NULL,
	[percentage] [int] NULL,
	[since] [datetime] NULL,
	[until] [datetime] NULL,
 CONSTRAINT [PK_restaurant_has_sale] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[restaurant_has_sale] ([id], [restaurant_id], [sale_id], [percentage], [since], [until]) VALUES (1, 818, 818, 59, CAST(N'1978-09-20T02:33:13.250' AS DateTime), CAST(N'2014-03-30T01:28:34.170' AS DateTime))
INSERT [dbo].[restaurant_has_sale] ([id], [restaurant_id], [sale_id], [percentage], [since], [until]) VALUES (2, 559, 559, 28, CAST(N'1988-04-16T04:59:20.810' AS DateTime), CAST(N'2008-03-29T13:15:50.370' AS DateTime))
INSERT [dbo].[restaurant_has_sale] ([id], [restaurant_id], [sale_id], [percentage], [since], [until]) VALUES (3, 2, 2, 19, CAST(N'2002-07-13T13:59:42.180' AS DateTime), CAST(N'1982-01-23T15:34:21.380' AS DateTime))
GO
ALTER TABLE [dbo].[restaurant_has_sale]  WITH CHECK ADD  CONSTRAINT [FK_restaurant_has_sale_restaurants] FOREIGN KEY([restaurant_id])
REFERENCES [dbo].[restaurants] ([id])
GO
ALTER TABLE [dbo].[restaurant_has_sale] CHECK CONSTRAINT [FK_restaurant_has_sale_restaurants]
GO
ALTER TABLE [dbo].[restaurant_has_sale]  WITH CHECK ADD  CONSTRAINT [FK_restaurant_has_sale_sales] FOREIGN KEY([sale_id])
REFERENCES [dbo].[sales] ([id])
GO
ALTER TABLE [dbo].[restaurant_has_sale] CHECK CONSTRAINT [FK_restaurant_has_sale_sales]
GO
