USE [db_restaurants]
GO
ALTER TABLE [dbo].[orders] DROP CONSTRAINT [FK_orders_users]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 19.01.2022 16:55:06 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[orders]') AND type in (N'U'))
DROP TABLE [dbo].[orders]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 19.01.2022 16:55:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id] [int] NOT NULL,
	[order_number] [int] NOT NULL,
	[date] [datetime] NULL,
	[user_id] [int] NULL,
 CONSTRAINT [PK_orders] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[orders] ([id], [order_number], [date], [user_id]) VALUES (1, 124676585, CAST(N'2019-09-18T09:24:42.220' AS DateTime), 818)
INSERT [dbo].[orders] ([id], [order_number], [date], [user_id]) VALUES (2, 962037057, CAST(N'2018-11-09T13:09:16.970' AS DateTime), 559)
INSERT [dbo].[orders] ([id], [order_number], [date], [user_id]) VALUES (3, 137982167, CAST(N'2020-07-28T04:33:13.380' AS DateTime), 2)
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK_orders_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK_orders_users]
GO
