USE [db_restaurants]
GO
/****** Object:  Table [dbo].[allergens]    Script Date: 19.01.2022 16:55:06 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[allergens]') AND type in (N'U'))
DROP TABLE [dbo].[allergens]
GO
/****** Object:  Table [dbo].[allergens]    Script Date: 19.01.2022 16:55:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[allergens](
	[id] [int] NOT NULL,
	[name] [varchar](60) NOT NULL,
	[description] [varchar](255) NULL,
 CONSTRAINT [PK_allergens] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[allergens] ([id], [name], [description]) VALUES (1, N'Confections', N'Multum venit. quad nomen estis nomen et et Sed Id estum. quo Id Quad et regit, quantare quad quartu Et')
INSERT [dbo].[allergens] ([id], [name], [description]) VALUES (2, N'Beverages', N'Longam, eggredior. quartu volcans plurissimum in Pro quad travissimantor Pro nomen quad linguens Longam, travissimantor cognitio,')
INSERT [dbo].[allergens] ([id], [name], [description]) VALUES (3, N'Poultry', N'linguens vobis novum funem. trepicandor plorum eudis e Longam, e esset delerium. fecit. volcans quis')
GO
