USE [db_restaurants]
GO
/****** Object:  Table [dbo].[measurement_units]    Script Date: 19.01.2022 16:55:06 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[measurement_units]') AND type in (N'U'))
DROP TABLE [dbo].[measurement_units]
GO
/****** Object:  Table [dbo].[measurement_units]    Script Date: 19.01.2022 16:55:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[measurement_units](
	[id] [int] NOT NULL,
	[name] [varchar](45) NOT NULL,
 CONSTRAINT [PK_measurement_units] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[measurement_units] ([id], [name]) VALUES (1, N'Ms')
INSERT [dbo].[measurement_units] ([id], [name]) VALUES (2, N'Dr.')
INSERT [dbo].[measurement_units] ([id], [name]) VALUES (3, N'Mr')
GO
