USE [db_restaurants]
GO
/****** Object:  Table [dbo].[dishes_types]    Script Date: 19.01.2022 16:55:06 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[dishes_types]') AND type in (N'U'))
DROP TABLE [dbo].[dishes_types]
GO
/****** Object:  Table [dbo].[dishes_types]    Script Date: 19.01.2022 16:55:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dishes_types](
	[id] [int] NOT NULL,
	[name] [varchar](40) NOT NULL,
 CONSTRAINT [PK_dishes_types] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[dishes_types] ([id], [name]) VALUES (1, N'quad trepicandor rarendum quo non Pro')
INSERT [dbo].[dishes_types] ([id], [name]) VALUES (2, N'brevens, non linguens cognitio,')
INSERT [dbo].[dishes_types] ([id], [name]) VALUES (3, N'estis trepicandor estum. travissimantor')
GO
