USE [db_restaurants]
GO
/****** Object:  Table [dbo].[restaurant_types]    Script Date: 19.01.2022 16:55:06 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[restaurant_types]') AND type in (N'U'))
DROP TABLE [dbo].[restaurant_types]
GO
/****** Object:  Table [dbo].[restaurant_types]    Script Date: 19.01.2022 16:55:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[restaurant_types](
	[id] [int] NOT NULL,
	[name] [varchar](60) NOT NULL,
	[description] [varchar](255) NOT NULL,
 CONSTRAINT [PK_restaurant_types] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[restaurant_types] ([id], [name], [description]) VALUES (1, N'Antonio924', N'Sed novum delerium. quorum linguens et trepicandor novum Quad quo non et novum Versus non Pro Tam quo, plorum quantare')
INSERT [dbo].[restaurant_types] ([id], [name], [description]) VALUES (2, N'Megan8', N'cognitio, novum quad esset quad quartu eudis funem. essit. quartu vobis quartu rarendum vobis plorum')
INSERT [dbo].[restaurant_types] ([id], [name], [description]) VALUES (3, N'Dora2', N'quoque non esset et quantare nomen non plurissimum estis Pro gravis quad et pars homo, vobis Quad pars apparens quartu et')
GO
