USE [db_restaurants]
GO
/****** Object:  Table [dbo].[locations]    Script Date: 19.01.2022 16:55:06 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[locations]') AND type in (N'U'))
DROP TABLE [dbo].[locations]
GO
/****** Object:  Table [dbo].[locations]    Script Date: 19.01.2022 16:55:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[locations](
	[id] [int] NOT NULL,
	[city] [varchar](60) NOT NULL,
	[ZIP] [int] NOT NULL,
 CONSTRAINT [PK_locations] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[locations] ([id], [city], [ZIP]) VALUES (1, N'Chicago', 1110)
INSERT [dbo].[locations] ([id], [city], [ZIP]) VALUES (2, N'Lubbock', 1033)
INSERT [dbo].[locations] ([id], [city], [ZIP]) VALUES (3, N'Philadelphia', 1150)
GO
