USE [db_restaurants]
GO
/****** Object:  Table [dbo].[sales]    Script Date: 19.01.2022 16:55:06 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sales]') AND type in (N'U'))
DROP TABLE [dbo].[sales]
GO
/****** Object:  Table [dbo].[sales]    Script Date: 19.01.2022 16:55:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sales](
	[id] [int] NOT NULL,
	[name] [varchar](60) NOT NULL,
 CONSTRAINT [PK_sales] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[sales] ([id], [name]) VALUES (1, N'Trisha29')
INSERT [dbo].[sales] ([id], [name]) VALUES (2, N'Margarita994')
INSERT [dbo].[sales] ([id], [name]) VALUES (3, N'Jermaine34')
GO
