USE [db_restaurants]
GO
ALTER TABLE [dbo].[users] DROP CONSTRAINT [FK_users_locations]
GO
/****** Object:  Table [dbo].[users]    Script Date: 19.01.2022 16:55:06 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[users]') AND type in (N'U'))
DROP TABLE [dbo].[users]
GO
/****** Object:  Table [dbo].[users]    Script Date: 19.01.2022 16:55:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] NOT NULL,
	[email] [varchar](254) NOT NULL,
	[firstname] [varchar](60) NULL,
	[lastname] [varchar](60) NULL,
	[password] [varchar](100) NULL,
	[birthdate] [date] NULL,
	[road] [varchar](45) NULL,
	[location_id] [int] NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[users] ([id], [email], [firstname], [lastname], [password], [birthdate], [road], [location_id]) VALUES (1, N'wzntzt.bwvjbiiuik@jigpyjkvz.okupzf.org', N'Gene', N'Castaneda', N'Q254L37I626FMF716GBH3TAWVY9NDDCMVN4PCWEV63GX11B989CB0N0WR99NTK4SPJKZBHP92GB0DDUTNZE411M7', CAST(N'1996-11-17' AS Date), N'BHL0CZ8RWJQSOUGWFI3QL6035OH7Z4VFWC7DP8', 818)
INSERT [dbo].[users] ([id], [email], [firstname], [lastname], [password], [birthdate], [road], [location_id]) VALUES (2, N'soijcik98@cjaens.net', N'Kimberley', N'Schroeder', N'7X2NR1LYN7IHCYQK29KC0JDFF0U50QOXDC3K', CAST(N'1955-07-10' AS Date), N'EQ8OZTQCGIH9RF2K5GHVO', 559)
INSERT [dbo].[users] ([id], [email], [firstname], [lastname], [password], [birthdate], [road], [location_id]) VALUES (3, N'pixe.kpmicmyr@zexexc.com', N'Tom', N'Hardy', N'MBEP1Q6CCB1OKYR2UMOJN8R7FYWIK3ZU6XGY5N', CAST(N'2005-08-02' AS Date), N'0RSNAWBM366ZO0CH1AFB1PH', 2)
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FK_users_locations] FOREIGN KEY([location_id])
REFERENCES [dbo].[locations] ([id])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FK_users_locations]
GO
