USE [db_restaurants]
GO
ALTER TABLE [dbo].[restaurants] DROP CONSTRAINT [FK_restaurants_locations]
GO
/****** Object:  Table [dbo].[restaurants]    Script Date: 19.01.2022 16:55:06 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[restaurants]') AND type in (N'U'))
DROP TABLE [dbo].[restaurants]
GO
/****** Object:  Table [dbo].[restaurants]    Script Date: 19.01.2022 16:55:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[restaurants](
	[id] [int] NOT NULL,
	[name] [varchar](45) NOT NULL,
	[road] [varchar](45) NOT NULL,
	[regular_schedule] [text] NULL,
	[location_id] [int] NOT NULL,
 CONSTRAINT [PK_restaurants] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[restaurants] ([id], [name], [road], [regular_schedule], [location_id]) VALUES (1, N'MistyRose', N'270 South White New Way', N'238P', 727)
INSERT [dbo].[restaurants] ([id], [name], [road], [regular_schedule], [location_id]) VALUES (2, N'LightCyan', N'262 South Rocky Clarendon Road', N'7JBZ31WWF1AXAF', 818)
INSERT [dbo].[restaurants] ([id], [name], [road], [regular_schedule], [location_id]) VALUES (3, N'Navy', N'830 North Oak Road', N'6HRPDW7UIWWWTM', 769)
GO
ALTER TABLE [dbo].[restaurants]  WITH CHECK ADD  CONSTRAINT [FK_restaurants_locations] FOREIGN KEY([location_id])
REFERENCES [dbo].[locations] ([id])
GO
ALTER TABLE [dbo].[restaurants] CHECK CONSTRAINT [FK_restaurants_locations]
GO
