USE [db_restaurants]
GO
ALTER TABLE [dbo].[ingredients] DROP CONSTRAINT [FK_ingredients_measurement_units]
GO
/****** Object:  Table [dbo].[ingredients]    Script Date: 19.01.2022 16:55:06 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ingredients]') AND type in (N'U'))
DROP TABLE [dbo].[ingredients]
GO
/****** Object:  Table [dbo].[ingredients]    Script Date: 19.01.2022 16:55:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ingredients](
	[id] [int] NOT NULL,
	[name] [varchar](60) NOT NULL,
	[quantity] [int] NULL,
	[price] [decimal](6, 2) NOT NULL,
	[measurement_unit_id] [int] NULL,
 CONSTRAINT [PK_ingredients] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ingredients] ([id], [name], [quantity], [price], [measurement_unit_id]) VALUES (1, N'Dairy', 2, CAST(1111.27 AS Decimal(6, 2)), 818)
INSERT [dbo].[ingredients] ([id], [name], [quantity], [price], [measurement_unit_id]) VALUES (2, N'Meat', 3, CAST(9.03 AS Decimal(6, 2)), 559)
INSERT [dbo].[ingredients] ([id], [name], [quantity], [price], [measurement_unit_id]) VALUES (3, N'Seafood', 3, CAST(6834.97 AS Decimal(6, 2)), 2)
GO
ALTER TABLE [dbo].[ingredients]  WITH CHECK ADD  CONSTRAINT [FK_ingredients_measurement_units] FOREIGN KEY([measurement_unit_id])
REFERENCES [dbo].[measurement_units] ([id])
GO
ALTER TABLE [dbo].[ingredients] CHECK CONSTRAINT [FK_ingredients_measurement_units]
GO
