USE [db_restaurants]
GO
ALTER TABLE [dbo].[order_details] DROP CONSTRAINT [FK_order_details_orders]
GO
ALTER TABLE [dbo].[order_details] DROP CONSTRAINT [FK_order_details_dishes]
GO
/****** Object:  Table [dbo].[order_details]    Script Date: 19.01.2022 16:55:06 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[order_details]') AND type in (N'U'))
DROP TABLE [dbo].[order_details]
GO
/****** Object:  Table [dbo].[order_details]    Script Date: 19.01.2022 16:55:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_details](
	[id] [int] NOT NULL,
	[reference] [varchar](60) NOT NULL,
	[dish_id] [int] NULL,
	[order_id] [int] NULL,
 CONSTRAINT [PK_order_details] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[order_details] ([id], [reference], [dish_id], [order_id]) VALUES (1, N'9CVJ', 818, 818)
INSERT [dbo].[order_details] ([id], [reference], [dish_id], [order_id]) VALUES (2, N'NG91QBVNM8BJ66H4PY0QDME2W9O207XRRECFLBFN5ULF', 559, 559)
INSERT [dbo].[order_details] ([id], [reference], [dish_id], [order_id]) VALUES (3, N'T58PSJDUTV1265GMSNEBKRST2IEIDLJ0ZU24FC7NJWYIBC', 2, 2)
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD  CONSTRAINT [FK_order_details_dishes] FOREIGN KEY([dish_id])
REFERENCES [dbo].[dishes] ([id])
GO
ALTER TABLE [dbo].[order_details] CHECK CONSTRAINT [FK_order_details_dishes]
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD  CONSTRAINT [FK_order_details_orders] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[order_details] CHECK CONSTRAINT [FK_order_details_orders]
GO
