USE [db_restaurants]
GO
ALTER TABLE [dbo].[dish_has_allergen] DROP CONSTRAINT [FK_dish_has_allergen_dishes]
GO
ALTER TABLE [dbo].[dish_has_allergen] DROP CONSTRAINT [FK_dish_has_allergen_allergens]
GO
/****** Object:  Table [dbo].[dish_has_allergen]    Script Date: 19.01.2022 16:55:06 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[dish_has_allergen]') AND type in (N'U'))
DROP TABLE [dbo].[dish_has_allergen]
GO
/****** Object:  Table [dbo].[dish_has_allergen]    Script Date: 19.01.2022 16:55:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dish_has_allergen](
	[id] [int] NOT NULL,
	[dish_id] [int] NULL,
	[allergen_id] [int] NULL,
 CONSTRAINT [PK_dish_has_allergen] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[dish_has_allergen] ([id], [dish_id], [allergen_id]) VALUES (1, 818, 818)
INSERT [dbo].[dish_has_allergen] ([id], [dish_id], [allergen_id]) VALUES (2, 559, 559)
INSERT [dbo].[dish_has_allergen] ([id], [dish_id], [allergen_id]) VALUES (3, 2, 2)
GO
ALTER TABLE [dbo].[dish_has_allergen]  WITH CHECK ADD  CONSTRAINT [FK_dish_has_allergen_allergens] FOREIGN KEY([allergen_id])
REFERENCES [dbo].[allergens] ([id])
GO
ALTER TABLE [dbo].[dish_has_allergen] CHECK CONSTRAINT [FK_dish_has_allergen_allergens]
GO
ALTER TABLE [dbo].[dish_has_allergen]  WITH CHECK ADD  CONSTRAINT [FK_dish_has_allergen_dishes] FOREIGN KEY([dish_id])
REFERENCES [dbo].[dishes] ([id])
GO
ALTER TABLE [dbo].[dish_has_allergen] CHECK CONSTRAINT [FK_dish_has_allergen_dishes]
GO
